# 负责创建 configMap 和 secret 来存储 mysql 的连接信息
# common-required-1761823733-mysqlSettings.namespace.svc.cluster.local
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "common.santoriniName" . }}
  labels:
    {{- include "common.labels.withoutName" . | nindent 4 }}
data:
  DASHBOARD_HOST: {{ include "ingress.hostName" (list . .Values.dashboard "dashboard" ) }}
  MYSQL_DATABASE: {{ .Values.santorini.mysql.name | default "santorini" | quote }}
{{- if not .Values.santorini.mysql.enable }}
  # 这里是使用自配的 mysql
  MYSQL_HOST: {{ .Values.santorini.mysql.host | required "santorini.mysql.host is required / santorini.mysql.host 必须填写" | quote }}
  MYSQL_PORT: {{ .Values.santorini.mysql.port | quote }}
  MYSQL_ROOT_USERNAME: {{ .Values.santorini.mysql.rootName | quote }}
  MYSQL_USER: {{ .Values.santorini.mysql.username | default "santorini" | quote }}
  # 如果不存在的话 就自动创建
  {{- if .Values.santorini.mysql.username }}
  MYSQL_CREATE_USERNAME: "false"
  {{- else }}
  MYSQL_CREATE_USERNAME: "true"
  {{- end }}
  {{- if .Values.santorini.mysql.name }}
  MYSQL_CREATE_DATABASE: "false"
  {{- else }}
  MYSQL_CREATE_DATABASE: "true"
  {{- end}}
{{- else }}
  # 这里使用的是内置的 mysql
  MYSQL_HOST: {{ include "common.mysqlName" . | quote }}
  MYSQL_PORT: "3306"
  MYSQL_ROOT_USERNAME: {{ .Values.santorini.mysql.rootName | quote }}
  MYSQL_USER: {{ .Values.santorini.mysql.username | default "santorini" | quote }}
  MYSQL_CREATE_USERNAME: "true"
  MYSQL_CREATE_DATABASE: "true"
{{- end }}
