{{- define "mychart.sessionKey" -}}
{{/*
  1️⃣ 如果 Secret 已存在 → 从集群读取
  2️⃣ 否则 → 生成新随机值并 Base64 编码
*/}}
{{- $secretName := include "common.santoriniName" . -}}
{{- $existing := (lookup "v1" "Secret" .Release.Namespace $secretName) -}}
{{- if $existing }}
  {{- index $existing.data "SESSION_KEY" }}
{{- else }}
  {{- $rand := randAlphaNum 16 | b64enc }}
  {{- $rand }}
{{- end }}
{{- end }}

  {{/* 生成 mysql */}}
{{- define "mychart.mysqlPassword" -}}
{{- $secretName := include "common.santoriniName" . -}}
{{- $existing := (lookup "v1" "Secret" .Release.Namespace $secretName) -}}
{{- if $existing }}
  {{- index $existing.data "MYSQL_PASSWORD" }}
{{- else }}
  {{- $rand := randAlphaNum 16 | b64enc }}
  {{- $rand }}
{{- end }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "common.santoriniName" . }}
  labels:
    {{- include "common.labels.withoutName" . | nindent 4 }}
type: Opaque
data:
  MANAGER_NAME: {{ .Values.santorini.manager | required "初始化管理员名字必须提供" | b64enc }}
  SESSION_KEY: {{ include "mychart.sessionKey" . }}
  MYSQL_PASSWORD: {{ .Values.santorini.mysql.password | b64enc | default (include "mychart.mysqlPassword" .) }}
  FEISHU_CALLBACK_URL: {{ .Values.santorini.feishu.callbackUrl | b64enc }}  # http://localhost:8080/callbackFeishu
  FEISHU_APP_ID: {{ .Values.santorini.feishu.id | b64enc }} # cli_a65cc60f00ee900c
  FEISHU_APP_SECRET: {{ .Values.santorini.feishu.secret | b64enc }} # secret_xxx
