# 实际上刚好反过来，是我们读取到了 mysql 子 chart 的信息，所以我们知道一旦激活 mysql 则必然存在一个 secret mysql-root-password 我们就用它,mysql-password
# auth.existingSecret	Use existing secret for password details. The secret has to contain the keys mysql-root-password, mysql-replication-password and mysql-password
# 什么时候需要 root 密码? 需要创建数据库，需要创建用户
{{- if and (not .Values.santorini.mysql.enable) (or (not .Values.santorini.mysql.username) (not .Values.santorini.mysql.name)) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "common.mysqlName" . }}
  labels:
  {{- include "common.labels.withoutName" . | nindent 4 }}
type: Opaque
data:
  mysql-root-password: {{ .Values.santorini.mysql.rootPassword | required "不能接受没有root密码的 mysql" | b64enc }}
{{- end }}
