/*//@import '~antd/es/style/themes/default.less';*/

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  /*noinspection CssUnresolvedCustomProperty*/
  background: var(--colorBgLayout);
  background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
}

.content {
  flex: 1;
  padding: 32px 0;
  width: 368px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .container {
    background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
    background-repeat: no-repeat;
    background-position: center 110px;
    background-size: 100%;
  }
}

.icon {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.2);
  transition: color 0.3s;

  &:hover {
    /*noinspection CssUnresolvedCustomProperty*/
    color: var(--colorPrimary);
  }
}

.other {
  text-align: center;
  margin-top: 24px;
  line-height: 22px;
}

.footer {
  margin: 48px 0 24px;
  padding: 0 16px;
  text-align: center;
}
