<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
    <!--    可调试路由-->
    <!--    <logger name="io.ktor.server.routing.Routing" level="trace"/>-->
    <!--    <logger name="io.ktor.client.plugins" level="trace"/>-->
    <logger name="Exposed" level="trace"/>
    <logger name="io.santorini.kubernetes" level="debug"/>
    <logger name="io.santorini.schema" level="debug"/>
</configuration>