{{- define "nacos.mysql.password" -}}
{{/*
  1️⃣ 如果 Secret 已存在 → 从集群读取
  2️⃣ 否则 → 生成新随机值并 Base64 编码
*/}}
{{- $secretName := include "common.santoriniNacosName" . -}}
{{- $existing := (lookup "v1" "Secret" .Release.Namespace $secretName) -}}
{{- if $existing }}
  {{- index $existing.data "password" }}
{{- else }}
  {{- $rand := randAlphaNum 16 | b64enc }}
  {{- $rand }}
{{- end }}
{{- end }}
{{- if .Values.santorini.nacos.enabled -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "common.santoriniNacosName" . }}
  labels:
    {{- include "common.labels.withoutName" . | nindent 4 }}
type: Opaque
data:
  sql: {{ .Files.Get "files/nacos_3.0.2.sql" | b64enc}}
  password: {{ include "nacos.mysql.password" . }}
{{- end -}}