# ClusterIssuer email address
masterEmail: ""
# 主要工作域名，必填
domain: ""

# 缺省的 namespace
#namespace: "kube-santorini"

santorini:
  debugWithShell: false
  tolerations: []
  nacos:
    # 如果想自行定义host
    host: ""
    # 证书颁发者
    issuerName: ""
    # 证书名称
    secretName: ""
    # 跳过签名
    skipIssue: false
    # 单独安装 nacos
    # , 前提是 mysql 是内置的 这句话要取消
    enabled: true
    # 支持外部 mysql
    externalMysql: 
      enabled: false
      host: ""
      port: 3306
      name: "nacos"
      username: "nacos"
      password: ""
    image:
      registry: docker.io
      repository: nacos/nacos-server
      tag: v3.0.2
      ## Specify a imagePullPolicy
      ## Defaults to 'Always' if image tag is 'latest', else set to 'IfNotPresent'
      ## ref: https://kubernetes.io/docs/user-guide/images/#pre-pulling-images
      ##
      pullPolicy: IfNotPresent
      ## Optionally specify an array of imagePullSecrets.
      ## Secrets must be manually created in the namespace.
      ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
      ## Example:
      ## pullSecrets:
      ##   - myRegistryKeySecretName
      ##
      pullSecrets: [ ]
    replicaCount: 1
    # https://github.com/nacos-group/nacos-docker?tab=readme-ov-file#common-property-configuration
    extraEnvVars:
      - name: PREFER_HOST_MODE
        value: "hostname"
      - name: TZ
        value: "Asia/Shanghai"
      - name: SPRING_DATASOURCE_PLATFORM
        value: "mysql"
      - name: NACOS_AUTH_USER_AGENT_AUTH_WHITE_ENABLE
        value: "false"
      - name: NACOS_AUTH_ENABLE
        value: "true"
      - name: NACOS_AUTH_TOKEN
        value: "SecretKey012345678901234567890123456789012345678901234567890123456789"
      - name: NACOS_AUTH_IDENTITY_KEY
        value: "example"
      - name: NACOS_AUTH_IDENTITY_VALUE
        value: "example"
    ## @param extraEnvVarsCM ConfigMap with extra environment variables
    ##
    extraEnvVarsCM: ""
    ## @param extraEnvVarsSecret Secret with extra environment variables
    ##
    extraEnvVarsSecret: ""

    ## liveness and readiness
    ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/
    healthCheck:
      type: http  # http/tcp
      port: http  # 上面的端口名或端口
      # 3分钟启动;150+60; 确保 6 分钟也行
      livenessProbe:
        enabled: true
        httpPath: '/'  # http时必须设置
        initialDelaySeconds: 120   # 初始延迟秒数, k8s默认值为0，最小为0
        periodSeconds: 30  # 检测周期，k8s默认值10，最小为1
        timeoutSeconds: 3  # 检测超时，k8s默认值1，最小为1
        successThreshold: 1  # 失败后成功次数，k8s默认值1，最小为1，只能设置为1
        failureThreshold: 8  # 失败后重试次数，k8s默认值3，最小为1
      readinessProbe:
        enabled: true
        httpPath: '/'  # http时必须设置
        initialDelaySeconds: 120   # 初始延迟秒数, k8s默认值为0，最小为0
        periodSeconds: 30  # 检测周期，k8s默认值10，最小为1
        timeoutSeconds: 3  # 检测超时，k8s默认值1，最小为1
        successThreshold: 1  # 失败后成功次数，k8s默认值1，最小为1，只能设置为1
        failureThreshold: 8  # 失败后重试次数，k8s默认值3，最小为1

    resources:
      limits:
        cpu: "250m"
        memory: 1024Mi
      requests:
        cpu: 125m
        memory: 512Mi

    service:
      ## 支持ClusterIP修改为LoadBalancer，反之不允许。可手动修改svc,并将nodePort去掉
      type: ClusterIP  # 一般不用修改, 支持ClusterIP/LoadBalancer/NodePort
      loadBalancerIP: ""
      ## Enable client source IP preservation
      ## @param service.externalTrafficPolicy External traffic policy, configure to Local to preserve client source IP when using an external loadBalancer
      ## ref http://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/#preserving-the-client-source-ip
      ##
      externalTrafficPolicy: Cluster  # 支持Cluster/Local
      ports:
        #        9849(gRPC)和7848(Jraft)端口为服务端之间的通信端口，请勿暴露到外部网络环境和客户端测。
        ## 多端口暴露时，复制一段
        http: # console
          port: 8080  # Service port number for client-a port.
          protocol: TCP  # Service port protocol for client-a port.
          ## Use nodePorts to requets some specific ports when usin NodePort
          # nodePort: 30020  # <to set explicitly, choose port between 30000-32767> 默认会自动生成
        server:
          port: 8848
          protocol: TCP
        grpc:
          port: 9848
          protocol: TCP
      ## @param service.loadBalancerSourceRanges Addresses that are allowed when service is LoadBalancer
      ## https://kubernetes.io/docs/tasks/access-application-cluster/configure-cloud-provider-firewall/#restrict-access-for-loadbalancer-service
      ## e.g:
      ## loadBalancerSourceRanges:
      ## - 10.10.10.0/24
      ##
      loadBalancerSourceRanges: [ ]
      ## @param service.clusterIP Static clusterIP or None for headless services
      ## ref: https://kubernetes.io/docs/concepts/services-networking/service/#choosing-your-own-ip-address
      ## e.g:
      ## clusterIP: None
      ##
      clusterIP: ""
      ## @param service.annotations Annotations for Logstash service
      ##
      annotations: { }
  mysql:
    # 只有声明了 false 才表示使用自配 mysql
    enable: true
    host: ""
    # 保持默认，并且使用内置 mysql 则会自动新建
    name: ""
    port: 3306
    rootName: "root"
    rootPassword: ""
    #    如果填入则不会自动创建
    username: ""
    password: ""
  backend:
    resources:
      limits:
        cpu: "250m"
        memory: 256Mi
      requests:
        cpu: 125m
        memory: 128Mi
    image:
      registry: ghcr.io
      repository: caijiang/santorini-console-backend
      tag: "0.4.0"
      ## Specify a imagePullPolicy
      ## Defaults to 'Always' if image tag is 'latest', else set to 'IfNotPresent'
      ## ref: https://kubernetes.io/docs/user-guide/images/#pre-pulling-images
      ##
      pullPolicy: IfNotPresent
  frontend:
    resources:
      limits:
        cpu: "200m"
        memory: 256Mi
      requests:
        cpu: 100m
        memory: 128Mi
    image:
      registry: ghcr.io
      repository: caijiang/santorini-console-frontend
      tag: "0.4.0"
      pullPolicy: IfNotPresent

  ## liveness and readiness
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/
  healthCheck:
    type: http  # http/tcp
    port: http  # 上面的端口名或端口
    # 3分钟启动;150+60; 确保 6 分钟也行
    livenessProbe:
      enabled: true
      httpPath: '/'  # http时必须设置
      initialDelaySeconds: 90   # 初始延迟秒数, k8s默认值为0，最小为0
      periodSeconds: 10  # 检测周期，k8s默认值10，最小为1
      timeoutSeconds: 3  # 检测超时，k8s默认值1，最小为1
      successThreshold: 1  # 失败后成功次数，k8s默认值1，最小为1，只能设置为1
      failureThreshold: 3  # 失败后重试次数，k8s默认值3，最小为1
    readinessProbe:
      enabled: true
      httpPath: '/'  # http时必须设置
      initialDelaySeconds: 10   # 初始延迟秒数, k8s默认值为0，最小为0
      periodSeconds: 10  # 检测周期，k8s默认值10，最小为1
      timeoutSeconds: 3  # 检测超时，k8s默认值1，最小为1
      successThreshold: 1  # 失败后成功次数，k8s默认值1，最小为1，只能设置为1
      failureThreshold: 3  # 失败后重试次数，k8s默认值3，最小为1
  extraEnvVars: [ ]
  # 管理员名字，必须提供的
  manager: ""
  # 如果想自行定义host
  host: ""
  # 证书颁发者
  issuerName: ""
  # 证书名称
  secretName: ""
  # 跳过签名
  skipIssue: false
  appName: "Santorini Console"
  feishu:
    # 飞书应用的 id
    id: ""
    # 飞书应用的 secret
    secret: ""
    # 飞书授权登录回调地址(写在飞书后台的)
    callbackUrl: ""

dashboard:
  # 是否暴露 dashboard 服务
  expose: false
  # dashboard 访问的域名, 默认是 dashboard.domain
  host: ""
  # 签发者名字，默认会使用自动生成的签发者，如果域名不在管辖范围就另外找个签发者
  issuerName: ""
  # 证书名称
  secretName: ""
  # 跳过签名
  skipIssue: false

longhorn:
  # 是否暴露 longhorn 服务
  expose: false
  # longhorn 访问的域名, 默认是 longhorn.domain
  host: ""
  # 签发者名字，默认会使用自动生成的签发者，如果域名不在管辖范围就另外找个签发者
  issuerName: ""
  # 证书名称
  secretName: ""
  # 跳过签名
  skipIssue: false

# 这里的值都可以传递到子 chart 中
# https://news.broadcom.com/app-dev/broadcom-introduces-bitnami-secure-images-for-production-ready-containerized-applications
mysql:
  image:
    repository: bitnamilegacy/mysql
    tag: 9.4.0-debian-12-r1