name: Main Workflow

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  backend:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Build
        uses: ./.github/actions/push-console-backend
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

  frontend:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Build
        uses: ./.github/actions/push-console-frontend
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

  helm:
    runs-on: ubuntu-latest
    needs: [ backend,frontend ]
    permissions:
      contents: write
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          mark_as_latest: true

  dependency-submission:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - uses: ./.github/actions/setup-java
      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v5