name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  packages: write
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - uses: olegtarasov/get-tag@v2.1.2
        id: tagName
        with:
          tagRegex: "v(?<version>.*)"
      - name: Backend
        uses: ./.github/actions/push-console-backend
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ steps.tagName.outputs.version }}
      - name: Frontend
        uses: ./.github/actions/push-console-frontend
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ steps.tagName.outputs.version }}